.flex.flex-align-center.flex-justify-left.full-width
    h2.subtitle.text-right.color-primary Hi!
    h1.title.full-width.text-right My name is 
        span.color-primary Jaroslav
    h2.subtitle.text-right.flex-inline.flex-align-center.flex-justify-end and i 
        span.color-primary FULL STACK DEVELOPER 
        span.icon.icon-lg.devicons.devicons-code.color-primary
    span.devicons.devicons-github_alt
        







