.flex.flex-align-center.flex-justify-left.full-width
    h2.subtitle.text-right.color-primary Hi!
    h1.title.full-width.text-right My name is 
        span.color-primary Jaroslav
    h2.subtitle.text-right.flex-inline.flex-align-center.flex-justify-end And my job is 
        span.color-primary.ml-25.text-bracket(data-keywords="frontend, backend , design")
    h4.text-right.full-width Hi, I’ve been a web developer since 2015. For the last 3 years, I specialized in front-end and single page application development and last 2+ years I work mostly in React projects.
    
    h4.text-right.full-width My passion is building a high quality apps, always studying something new
        







