nav#nav.nav.transform
    div.flex.flex-align-center.flex-column.flex-justify-column.nav-mobile
        a.logo.mb-25(href="#about")
        ul.list
            li.list-item.flex.flex-justify-center
                a.link.link-local.text-uppercase(href="#about").btn.btn-primary About
            li.list-item.flex-justify-center.flex
                a.link.link-local.text-uppercase(href="#skills").btn Skills
            li.list-item.flex-justify-center.flex
                a.link.link-local.text-uppercase(href="#examples").btn Examples
            li.list-item.flex-justify-center.flex
                a.link.link-local.text-uppercase(href="#services").btn Services
            li.list-item.flex-justify-center.flex
                a.link.link-local.text-uppercase(href="#some1").btn  sometext5
    .nav-links
        ul.flex.flex-align-center.flex-justify-sb
            li.transition.hover-animate-scale
                a(href="https://github.com/Jaroslav-Lesiv", target="_blank")
                    span.icon.devicons.devicons-github_badge
            li.transition.hover-animate-scale
                a(href="https://github.com/Jaroslav-Lesiv", target="_blank")
                    span.icon.devicons.devicons-github_badge
            li.transition.hover-animate-scale
                a(href="https://github.com/Jaroslav-Lesiv", target="_blank")
                    span.icon.devicons.devicons-github_badge