h2.section-title.color-white(data-before="(", data-after=")") Lates work

.flex.flex-align-start.flex-justify-center.hide.animated(data-animate="slideInDown", data-start="scroll")
    .examples.flex.flex-align-start.flex-justify-center
    .device-list
        .example-item
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="ng_desktop")
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="ng_mobile")
            .example-content
                strong
                    a.snake.card-label(href="https://normalgame.net") NormalGame
                p.card-description Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .example-item
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="gw_list")
            .example-content
                strong
                    a.snake.card-label(href="https://github.com/Jaroslav-Lesiv/goodWorker") goodWorker (Desktop App)
                p.card-description Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .example-item
            .device-wrapper 
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="cam_list")
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="cam_coin")
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="cam_news")
            .example-content
                strong
                    a.snake.card-label(href="https://play.google.com/store/apps/details?id=com.codingchipmunks.cryptarena") CryptArena (Mobile App)
                p.card-description Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .example-item
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="jlm_desktop")
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="jlm_mobile")
            .example-content
                strong
                    a.snake.card-label(href="http://just-label.me") JustLabelMe
                p.card-description Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .example-item
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="nomis_desktop")
                .mobile.device-shadow
                    .monitor.lazy-load(realbg="nomis_mobile")
            .example-content
                strong
                    a.snake.card-label(href="http://nomis.com.ua") Nomis
                p.card-description Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .example-item
            .device-wrapper
                .desktop.device-shadow
                    .monitor.lazy-load(realbg="jlme_desktop")
            .example-content
                strong 
                    a.snake.card-label(href="https://normalgame.net") JustLabelMe (Browser Extension)
                p.card-description Lorem ipsum dolor sit amet consectetur adipisicing elit.